.main-hero {
  background-color: #333;
  display: block;
  height: 100%;
  &__content {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__logo {
    width: 30%;
  }
}
